---
import fetchApi from '../../lib/strapi';
import type FrontPage from '../../interfaces/frontpage';
import Layout from '../../layouts/Layout.astro';

const frontPage = await fetchApi<FrontPage>({
  endpoint: 'wcag-front-page',
  wrappedByKey: 'data',
  lang: 'en'
});
---

<Layout currentType="front" locale={ frontPage.attributes.locale } metaDescription={ frontPage.attributes.metaDescription }
  fiUrl="front" engUrl="front" alternateFi="fi" alternateEn="en"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">{ frontPage.attributes.title }</h1>
      <div class="text-xl bodytext"><Fragment set:html={ frontPage.attributes.content } /></div>
    </div>
  </div>
</Layout>