---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target">Teksti</h1>
      <div class="text-xl bodytext"><Fragment set:html="<p>Moi</p>" /></div>
    </div>
  </div>
</Layout>
