---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { Icon } from 'astro-icon/components';
---

<footer class="p-4-px lg:px-8-px lg:py-4-px border-t-8 border-solid border-blue-tory bg-lt-blue-light dark:bg-dk-purple">
  <div class="text-center">
    <button id="back-to-top" class="text-center button--alternative hover--border item--transition">
      <Icon name="arrow-up-circle-solid" class="h-12 w-12 mx-auto" />
      { t('back-to-top-button') }
    </button>
  </div>
  <div class="md:flex md:justify-between max-w-[1500px] mx-auto">
    <nav aria-label={ t('footer-menu-aria') }>
      Menu
    </nav>
    <div class="flex items-center">
      <span aria-hidden="true" class="font-title inline-block mr-4 text-lt-blue-dark dark:text-dk-blue-light">
        SK
      </span>
      <a
        href="https://blog.sanna.ninja"
        rel="noopener noreferrer"
        class="font-light"
      >
        { t('ext-blog') }
      </a>
    </div>
  </div>
  <script is:inline src="/skip-content.js"></script>
</footer>

<script>
  const backToTop = document.querySelectorAll('#back-to-top');

  backToTop.forEach((button) => {
    button.addEventListener('click', () => {
      const target = document.getElementById('page-top');
      (target as HTMLElement).setAttribute('tabindex', '-1');
      (target as HTMLElement).focus();
    });
  });
</script>