---
import fetchApi from '../lib/strapi';
import type Guideline from '../interfaces/guideline';
import HumanSitemapCriteria from './HumanSitemapCriteria.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const guidelines = await fetchApi<Guideline[]>({
  endpoint: 'wcag-guidelines',
  wrappedByKey: 'data',
  lang: lang
});

const filterdedGuidelines = guidelines.filter((guideline: Guideline) => guideline.attributes.wcagPrinciple.data.attributes.principleNumber === Astro.props.principleNumber);
---

{filterdedGuidelines.map((guideline) => {
  return (
    <li>
      <a class="py-2 block"
        href={`/${lang}/${guideline.attributes.wcagPrinciple.data.attributes.slug}/${guideline.attributes.slug}/`}
      >
        {`${ guideline.attributes.guidelineNumber } ${ guideline.attributes.name }`}
      </a>
      <ul class="ml-2">
        <HumanSitemapCriteria guidelineNumber={ guideline.attributes.guidelineNumber } lang={ lang } />
      </ul>
    </li>
  );
})}