---
import fetchApi from '../lib/strapi';
import type Principle from '../interfaces/principle';
import HumanSitemapGuidelines from './HumanSitemapGuidelines.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const principles = await fetchApi<Principle[]>({
  endpoint: 'wcag-principles',
  wrappedByKey: 'data',
  lang: lang
});
---

<section class="text-lt-gray dark:text-dk-gray">
  <span id="side-menu-label" class="relative bg-white dark:bg-dk-blue-darkest text-lt-gray dark:text-dk-gray text-2xl mx-8 px-2 pb-2 block mb-[-3.5rem] mt-8">{ Astro.props.principleNumber } {Astro.props.principleName}</span>
  <nav aria-label={ t('sidebar-menu-title') } class="sidebar-menu text-lt-gray dark:text-dk-gray pb-1 pt-6 px-2 mt-8 bg-white dark:bg-dk-blue-darkest my-12">
    <ul class="ml-2">
      {principles.map((principle) => {
        return (
          <li>
            <a class="py-2 block"
              href={`/${lang}/${principle.attributes.slug}/`}
            >
              { principle.attributes.principleNumber } { principle.attributes.name }
            </a>
            <ul class="ml-2">
              <HumanSitemapGuidelines principleNumber={ principle.attributes.principleNumber } />
            </ul>
          </li>
        );
      })}
    </ul>
  </nav>
</section>