---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface SkipTypes {
  skipId: string,
  skipTarget: string,
  skipTextVariable: string
}

---

<a href={ Astro.props.skipTarget } id={ Astro.props.skipId } class="sr-only focus:not-sr-only focus:absolute focus:top-8 focus:left-8 text-xl focus:p-4 text-black bg-lt-blue-light dark:bg-dk-purple dark:text-white hover:text-lt-purple dark:hover:text-dk-blue-light hover:underline hover:decoration-2 hover:underline-offset-2 focus:outline focus:outline-2 focus:outline-black dark:focus:outline-white dark:text-shadow-text">
  { t(Astro.props.skipTextVariable) }
</a>