---
import fetchApi from '../../lib/strapi';
import Layout from '../../layouts/Layout.astro';
import Guidelines from '../../components/Guidelines.astro';
import SidebarMenu from '../../components/SidebarMenu.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import type Principle from '../../interfaces/principle';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages = await fetchApi<Principle[]>({
    endpoint: 'wcag-principles',
    wrappedByKey: 'data',
  });

  return pages.map((page: Principle) => ({
    params: { slug: page.attributes.slug, language: page.attributes.locale },
    props: page,
  }));
}

type Props = Principle;

const page = Astro.props;
---

<Layout>
  <SidebarMenu principleNumber={ page.attributes.principleNumber } principleName={ page.attributes.name } />
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <Breadcrumb type="principle"
        language={ page.attributes.locale }
        currentNumber={ page.attributes.principleNumber }
        currentPage={ page.attributes.name }
      />
      <h1 id="skip-target">{ page.attributes.principleNumber } { page.attributes.name }</h1>
      <div class="text-xl bodytext"><Fragment set:html={ page.attributes.principleDescription } /></div>
      <Guidelines principleNumber={ page.attributes.principleNumber } />
    </div>
  </div>
</Layout>


